@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/Amarok_\ Background6.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    display: flex;
    width: 100vw;
    height: 10%;
    position: relative;
    background: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

.logo{
    display: flex;
    color: #fff;
    font-size: 11pt;
    font-weight: 800;
}

.logo svg{
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
}

nav li{
    margin-right: 35px;
    margin-top: 22px;
}

nav li a{
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
}

nav ul li a:hover{
    cursor: pointer;
}

nav ul li:hover{
    transition: 0.5s ease;
    transform: scale(1.1);
}

#video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em 2em;
}

#video video{
    width: 100%;
    max-width: 1200px;
    height: 30vw;
}

.apres{
    padding: 10px;
    background: linear-gradient(260deg, rgb(0, 31, 99), rgb(41, 31, 192));
    width: 100%;
    text-align: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.text-apres{
    font-size: 24pt;
    width: 100%;
    height: 100%;
    margin: 30px;
    padding: 30px;
}

.text-apres h1, .text-apres p{
    height: 50%;
    color: #fff;
}

main{
    background-color: rgb(43, 43, 43);
}

.performance{
    padding: 35px;
    margin: 30px;
    display: flex;
    align-items: center;
}

.performance-text{
    margin-left: 35px;
    padding: 20px;
    border: 10px;
    border-radius: 10px;
    background-color: #363636;
    align-items: center;
}

.performance h3, p, ul, li{
    color: white;
    text-decoration: none;
    list-style: none;
}

.performance h3, ul, p{
    margin-bottom: 10px;
}

.performance h3{
    font-size: 24pt;
}

.performance p{
    font-size: 18pt;
}

.performance img{
    width: 60%;
    height: auto;
}

.performance-2{
    padding: 35px;
    margin: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.performance-2 img{
    margin-left: 30px;
}

.performance-text-2{
    margin: 35px 8px;
    align-items: center;
}

.performance-text-2 ul, li, h4, h2, p{
    margin-bottom: 20px;
}

.tab1{
    border: 10px;
    border-radius: 10px;
    background-color: #363636;
    padding: 20px;
}
.tab2{
    border: 10px;
    border-radius: 10px;
    background-color: #363636;
    padding: 20px;
}
.tab3{
    border: 10px;
    border-radius: 10px;
    background-color: #363636;
    padding: 20px;
}

.seguranca {
    padding: 35px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #e0e0e0;
    width: 100%;
  }
  
  .seguranca-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: fl;
    width: 100%;
  }
  
  .seguranca-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    width: 600px;
    border: 10px;
    border-radius: 10px;
    background-color: #363636;
  }
  
  .seguranca h3, .seguranca p {
    color: #000;
    text-align: center;
    margin: 0;
  }
  
  .seguranca h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .seguranca p {
    width: 60%;
    font-size: 18px;
  }
  
  .seguranca img {
    margin: 0 auto;
    width: 40%;
    height: auto;
    margin-bottom: 20px;
  }
  
  